@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.form-input {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    gap: .3rem;
}

#animal-escolhido{
    height: 3rem;
}

input {
    border-radius: .2rem;
    border: 1px solid black;
    height: 30px;
    padding: .5rem;
}

input:focus {
    outline: 1px solid var(--my-color-bg-tertiary);
}

label {
    font-family: 'Roboto';
    font-weight: 700;
    color: var(--my-color-font-secondary);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 360px;
    background-color: var(--my-color-bg-secondary);
    padding: 1rem;
    border-radius: 1rem;
}

select {
    border-radius: .2rem;
    border: 1px solid black;
    height: 30px;
    padding: .5rem;

}

.form-btn {
    padding: 10px 20px;
    background-color: var(--my-color-bg-quaternary);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 180px;
    margin: auto;
}

.form-btn:hover {
    background-color: var(--my-color-bg-tertiary);
}

.radio-container {
    display: flex;
    align-items: center;
    gap: .5rem;
}